{% extends '../base.html' %}

{% block title %}footer{% endblock %}

{% block content %}
<style>
  footer {
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    height: 6rem;  
  }
  </style>

<footer class="bg-dark text-white footer" >
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-html5"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-css3"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-python"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-js"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-bootstrap"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="{% url 'github' %}" role="button"><i class="fab fa-github"></i></a>
      </section>
    <div class="text-center background">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">CBW Corp</a>
    </div>
  </footer>
  {% endblock %}