{% extends '../base.html' %}

{% block title %}Commande{% endblock %} 

{% block content %}
{% include './navbar.html' %}


  <div class="card" style="width: 18rem; margin: auto;">
    <img class="card-img-top" src="https://tp3dolibarr.s3.ca-central-1.amazonaws.com/cloudImg/{{ item.id|add:'-80' }}.jpg" alt="{{ item.label }}">
    <div class="card-body">
      <h5 class="card-title">{{ item.label }}</h5>
      <div class="input-group mb-3">
        <span class="input-group-text">Prix</span>
        <input type="number" class="form-control" value="{{ item.price|floatformat:2 }}" disabled/>
        <span class="input-group-text">$ + Tx</span>
      </div>
      <form method="POST" action="{% url 'purchase' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
          <span class="input-group-text">Quantité</span>
          <input type="number" class="form-control" min="1" max="{{ item.stock_reel|floatformat:0 }}" value="{{ current_quntity }}" name="quantity"/>
        </div>
        <button class="btn btn-primary" type="submit" name="productId" value="{{ item.id }}">Confirmer</button>
      </form>
    </div>
  </div>
  {% include './footer.html' %}
{% endblock %}